<p id="notice"><%= notice %></p>

<% @article %>
<div class="container_article">

<h2> <%= @article.title %></h2>
    <div class="container_body">

        <blockquote>  <%= @article.body %>  </blockquote> </div>
</div>

<div class="links"><h1> <%= link_to 'Read', @article.picture %>  <i>or</i>  <a href="/">Next?</a>
</h1>
<center><a href="/feeds">Admin</a></center>
</div>
