body {
    background-image: url("http://i.imgur.com/v0emmle.jpg");
    background-color: #cccccc;
    background-color: #b89c8e 0.68;
    font-family: arial;
}
a:link,
a:visited,
a:active {
    color: #baa37e;
    text-decoration: none;
}
a:hover {color:#000;}

blockquote {
    padding: 0px 50px 30px 50px;
    font-size:14pt;
    line-height:20pt;
}
h1 {
    text-align: center;
    font-family: 'Special Elite' white;
    font-size: 500%;
}

.container_article {
    width: 700px;
    margin: 0 auto;
    background-color: white;
}
.links h1 {
    text-align: center;
    font-family: 'Special Elite' white;
    font-size: 300%;
}
.container_body {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.container_article h2 {
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 300%;
    border-bottom: 1px solid #ccc;
}


table {
    width: 50%;
    border-collapse: collapse;

}

th {
    height: 50px;
    text-align: left;
}
