<!DOCTYPE html>
<html>
<head>
  <title>Coffeenews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  fp = FeedParser.new(:url => "http://nu.nl/rss/")
feed = fp.parse

<%= yield %>

</body>
</html>
